* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

/* 向下按钮 */
.go_bottom {
  position: fixed;
  right: 50px;
  bottom: 30px;
  z-index: 100;
  color: red;
  font-weight: bold;
  font-size: 23px;
  animation: myfirst 2s linear infinite alternate;
}

@keyframes myfirst {
  from {
    transform: translateY(-20px);
  }

  to {
    transform: translateY(20px);
  }
}

/* 回到顶部按钮 */
.go_top {
  position: fixed;
  right: 50px;
  bottom: 30px;
  z-index: 100;
  color: red;
  font-weight: bold;
  font-size: 23px;
}

/* logo */
.zrb_title_div {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.zrb_title {
  color: rgb(0, 0, 0);
  font-size: 23px;
  margin-left: 70px !important;
  margin: 10px;
  display: block;
}

/* 第一屏 */
.one {
  position: relative;
}

.content {
  width: 960px;
  height: 700px;
  position: absolute !important;
  /* background-color: rgba(0, 0, 0, 0.3); */
  left: 50%;
  top: 0;
  margin-left: -478px;
}

/* 头像 */
.zrb_header_img {
  text-align: center;
  line-height: 50px;
  margin-top: 180px;
}

.zrb_Head {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid red;
}

/* 第二屏 */
/* 标题 */
.tow .header_title {
  position: absolute;
  left: 7%;
  margin-left: -216px;
  top: 70px;
  opacity: 0;
  transform-origin: right bottom;
  transform: scale(0);
  font-family: f5f487082c474e4472d76201c069f2098;
  font-size: 44px;
  font-weight: normal;
  font-style: normal;
  color: #000000;
}

/* 标题动画 */
.tow .now .header_title {
  opacity: 1;
  transform: scale(1);
  transition: transform 0.5s linear 1.5s;
}

/* 头像 */
.tow .zrb_header_img {
  position: absolute;
  left: -15%;
  top: -8px;
  opacity: 0;
  transform-origin: right;
  transform: translate(-500px, 0px);
}

.tow .now .zrb_header_img {
  opacity: 1;
  transform: translate(0px, 0px);
  transition: transform 1s linear 2s;
}

/* 信息 */
.tow .zrb_information_title {
  position: absolute;
  right: 0px;
  top: 166px;
  width: 68%;
  transform-origin: left;
  transform: translate(1000px, 0px);
}

.tow .now .zrb_information_title {
  opacity: 1;
  transform: translate(0px, 0px);
  transition: transform 1s linear 2s;
}

.zrb_information_list {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  top: 100px;
  right: 0px;
}

.zrb_information_list li {
  width: 270px;
  height: 50px;
  padding-right: 20px;
  font-size: 20px;
  font-weight: bold;
}

.zrb_information_list li span {
  width: 100px;
  height: 35px;
  color: aliceblue;
  font-weight: normal !important;
  margin-left: 0 !important;
}

/* 社交图片 */
.zrb_contact_logo {
  position: absolute;
  top: 400px;
  left: 0px;
}

.zrb_contact_logo img {
  width: 50px;
  height: 50px;
}

/* 第三屏 */
.zrb_title_Study {
  margin-top: 47px;
  text-align: center;
}

/* 最后一屏 */
.last .zrb_input {
  margin-top: 100px;
  padding: 20px;
  box-shadow: 0px 10px 20px brown;
  transform-origin: bottom;
  transform: translate(0, 600px);
}

.last .now .zrb_input {
  transform: translate(0px, 0px);
  transition: transform 0.5s linear 1.5s;
}

label {
  display: block;
}

input {
  width: 450px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  outline: none;
  font-size: 17px;
  padding-left: 5px;
}

.zrb_input_ {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* 按钮 */
#button {
  width: 100%;
  background: blue;
  border: none;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  outline: none;
}

/* 输入框 */
#text {
  width: 100%;
  height: 258px;
  padding-left: 5px;
  font-size: 20px;
}